@media (max-width:600px) {

    /* Page1 */
    #page1 {
        padding: 0 0;
    }

    nav {
        padding:0vw 5vw;
    }

    .nav-links h4 {
        display: none;
    }

    #menu {
        display: block;
    }

    .page1-part2 {
        flex-direction: column-reverse;
        align-items: normal;
        padding: 5vw;
        height: fit-content;
    }
    .page1-part2 h1{
        font-size: 17vw;
        line-height: 16vw;
        margin-left: 3vw;
        margin-bottom: 7vh;
    }
    .page1-part2 h3{
        font-size: 5vw;
        width: 80%;
    }

    #page1 video{
        height: 70vh;
        object-fit: cover;
    }
    .video-container{
        padding: 5vw;
    }
    .round-shape{
        height: 75vw !important;
        width: 65vw !important;
        top: 95vw !important;
    }

    /* page2 */
    #page2{
        min-height: 70vh;
    }
    .page2-part2{
        flex-direction: column;
        align-items: flex-start !important;
        height: fit-content !important;
    }
    .page2-part2 h1{
        width: 90%;
        font-size: 6vw;
        line-height: 0.9;
        margin: 5vw 0vw;
    }
    .page2-p{
        width: 80% !important;
    }
    .page2-p p{
        font-size: 4vw;
    }
    .round-shape2{
        height: 58vw !important;
        width: 58vw !important;
        top: 40vw !important;
        right: 0% !important;
        left: auto !important;
    }

    /* page3 */
    #elem-container{
        display: none;
    }
    #mob-elements{
        display: block;
    }

    /* page4 */
    #page4{
        padding:8vw 4vw !important;
    }
    #black-box{
        flex-direction: column;
    }
    .tab-section{
        width: 100% !important;

    }
    .tab-section h1{
        font-size: 7vw;

    }
    #desc{
        font-size: 3.3vw;
        margin-top: 3vw !important;
    }
    .image-section{
        width: 100% !important;
    }

    /* page5 */

    #page5{
        height: fit-content;
    }
    .swiper {
        margin-top: 6vw;
    }
    .swiper-slide p{
        font-size: 3.3vw;
        margin: 3vw 0vw;
    }

    /* footer */
    #page6{
        min-height: 80vh;
    }
    #footer{

    }
    .footer-part1{
        flex-direction: column;
        align-items: flex-start !important;
    }
    .footer-part1 h2{
        font-size: 30px !important;
    }
    .footer-part1 .email{
        width: 90% !important;
        margin: 6vw 0vw;
    }
    .email p  {
        font-size: 17px;
    }
    .email div{
        font-size: 12px;
        margin-top: 5vw;
    }
    .footer-part2 h6{
        font-size: 12px;
    }

}

@media (max-width:400px) {
    .footer-part2 div:nth-child(2){
        flex-direction: column;
        margin-top: 4vw;
    }
}